<template>
  <v-app>

    <v-content>
      <v-container>
        <router-view/>

        <v-app-bar app>
          <v-toolbar-title class="headline text-uppercase">
            <router-link to="/" exact><span>Photo</span></router-link>
            <span class="font-weight-light">Upload</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn text>
            <router-link to="/photo">
              <span class="mr-2">Photos</span>
            </router-link>
            <v-icon>photo</v-icon>
          </v-btn>
        </v-app-bar>

      </v-container>
    </v-content>

  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    //
  }),
};
</script>

<style>
  a {
    text-decoration: none;
  }
</style>
