<template>
  <v-card
    max-width="400"
    class="mx-auto"
  >
    <v-list-item>
      <!-- <v-list-item-avatar color="grey"></v-list-item-avatar> -->
      <v-list-item-content>
        <v-list-item-title class="headline">PhotoUpload App</v-list-item-title>
        <v-list-item-subtitle>by Víctor Moreno</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-img
      src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
      height="194"
    ></v-img>

    <v-card-text>
      Visit ten places on our planet that are undergoing the biggest changes today.
    </v-card-text>

    <v-card-actions>
      <v-btn href="/auth/google" block color="primary">
        <v-icon>account_circle</v-icon>
        SingIn with Google
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
// import HelloWorld from '../components/HelloWorld';
import AuthService from '../services/AuthService';

export default {

  data() {
    return {};
  },

  methods: {
    async loginGoogle() {
      try {
        await AuthService.getGoogle();
      } catch (err) {
        console.log(err);
      }
    },
  },

};
</script>
