<template>
  <v-row justify="center">

    <v-col cols="12" sm="4" md="7">
      <v-card class="mx-auto">
        <v-card-text>
          <v-form @submit.prevent="sendPhoto">
          <v-text-field
            v-model="photo.title"
               label="Title"
            data-vv-name="title"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="photo.description"
               label="Description"
            data-vv-name="description"
            required
          >
          </v-text-field>
          <v-file-input
            v-model="photo.imagePath"
            accept="image/png, image/jpeg, image/bmp"
            placeholder="Pick your image"
            prepend-icon="camera"
          ></v-file-input>           
  
          <template v-if="edit === false">
            <v-btn type="submit" class="primary" block>Add</v-btn>
          </template>
          <template v-else>
            <v-btn class="primary" block>Update</v-btn>
          </template>
          </v-form>

        </v-card-text>     
      </v-card>
    </v-col>
    
    <v-col cols="12" sm="4" md="5">
      <template v-if="photos.length > 0">
      <v-card class="mx-auto">
        <v-container class="pa-2" fluid>
          <v-row>
            <v-col cols="12" v-for="photo of photos" v-bind:key="photo._id">
              <v-card
                class="mx-auto">
                <v-list-item three-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline mb-1">
                      {{ photo.title }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ photo.description }}
                    </v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-avatar tile size="120">
                    <v-img
                      :src="photo.imagePath">
                    </v-img>
                  </v-list-item-avatar>
                </v-list-item>

                <v-card-actions>
                  <v-btn @click="editPhoto(photo._id)" class="secondary">Update</v-btn>
                  <v-btn @click="deletePhoto(photo._id)" class="danger">Delete</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      </template>
    </v-col>

  </v-row>
</template>

<script>
import PhotoService from '../services/PhotoService';

class Photo {
  constructor(title, description, imagePath) {
    this.title = title;
    this.description = description;
    this.imagePath = imagePath;
  }
}

export default {
  data() {
    return {
      photo: new Photo(),
      photos: [],
      edit: false,
      photoToEdit: '',
      url: '/api/',
    };
  },
  created() {
    this.getPhotos();
  },
  methods: {
    async getPhotos() {
      try {
        this.photos = await PhotoService.getPhotos();
        console.log(here);
      } catch (err) {
        this.error = err.message;
      }
    },
    async sendPhoto() {
      if (this.edit === false) {
        await PhotoService.insertPhoto(this.photo);
        this.photos = await PhotoService.getPhotos();
      } else {
        await PhotoService.updatePhoto(this.photoToEdit, this.photo);
        this.getPhotos();
        this.edit = false;
      }
      this.photo = new Photo();
    },
    async deletePhoto(id) {
      await PhotoService.deletePhoto(id);
      this.photos = await PhotoService.getPhotos();
    },
    async editPhoto(id) {
      const { data } = await PhotoService.getPhoto(id);
      this.photo = new Photo(data.title, data.description);
      this.photoToEdit = data._id;
      this.edit = true;
    },
  }
};
</script>
